.createPostPage {
    padding: 10px;

    width: 100vw;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    border: 5px solid dodgerblue;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 20px;
}

.formContainer #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.formContainer label {
    text-align: left;
    font-size: 20px;
}

.createButton {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: lightskyblue;
    border-radius: 10px;
    color: white;
}

.formContainer button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

span {
    color: red;
}
